<div>
  <h1>List of meals:</h1>
  <ul *ngFor="let meal of meals | async">
    <li>
      <strong>{{ meal.name }}</strong> 
      <br>
      Prep: {{ meal.prepTime }} mins. | Cook: {{ meal.cookTime }} mins.
    </li>
  </ul>
</div>
<div>
  <h1>Add a Meal</h1>
  <input type="text" [(ngModel)]="newMeal.name" name="name" placeholder="Name...">
  <input type="text" [(ngModel)]="newMeal.prepTime" name="prepTime" placeholder="Prep time...">
  <input type="text" [(ngModel)]="newMeal.cookTime" name="cookTime" placeholder="Cook time...">
  <input type="submit" value="Add a meal" (click)="addMeal()">
</div>