<div class="top-doodad"></div>

<ion-content class="with-top-doodad" padding>
  <ion-grid class="control">
    <ion-row>
      <ion-col col-1>
        <div class="arrow-back" [class.disabled]="currentWeekRelation <= -WEEK_RANGE" (click)="getPreviousWeeklyPlan()"></div>
      </ion-col>
      <ion-col col-10>
        <h2 text-center>My Plan</h2>
        <h3 class="regular-font" text-center *ngIf="weeklyPlan">{{ weeklyPlan.startDate | date:'MMM d' }} - {{ weeklyPlan.endDate | date:'MMM d' }}</h3>
        <h3 text-center *ngIf="!weeklyPlan">&nbsp;</h3>
      </ion-col>
      <ion-col col-1>
        <div class="arrow-forward" [class.disabled]="currentWeekRelation >= 0" (click)="getNextWeeklyPlan()"></div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ng-container *ngIf="weeklyPlan">
    <ng-container *ngIf="!weeklyPlan.id">
      <p text-center>You don't have a weekly plan for that week.</p>
    </ng-container>

    <ng-container *ngIf="weeklyPlan.id && (currentWeekRelation == 0) && ((!weeklyPlan.meals) || (weeklyPlan.meals && (weeklyPlan.meals.length == 0)))">
      <p text-center>You don't have any meals added to this plan.</p>
      <p text-center>You can add all meals from current's week menu.</p>
      <button ion-button block type="button" (click)="addCurrentWeekMenuMeals()">Add all current meals</button>
    </ng-container>

    <ng-container *ngIf="weeklyPlan.id && (currentWeekRelation < 0) && ((!weeklyPlan.meals) || (weeklyPlan.meals && (weeklyPlan.meals.length == 0)))">
      <p text-center>You don't have any meals added to this plan.</p>
    </ng-container>

    <ng-container *ngIf="weeklyPlan.meals && (weeklyPlan.meals.length > 0)">
      <ion-grid class="lists">
        <ion-row>
          <ion-col col-6>
            <button ion-button block type="button" (click)="showPrepList()">
              <span class="prep-list-icon"></span>
              <span>Prep list</span>
            </button>
          </ion-col>
          <ion-col col-6>
            <button ion-button block type="button" (click)="showShoppingList()">
              <span class="shopping-list-icon"></span>
              <span>Shopping list</span>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>

      <div class="meal" *ngFor="let meal of weeklyPlan.meals" (click)="showMeal(meal)">
        <div class="background" [style.background-image]="('url(' + meal.imageUrl + ')') | sanitizeStyle"></div>
        <div class="plan red" (click)="removeFromPlan(meal); $event.stopPropagation();">
          <div class="remove"></div>
          <div>Remove from Plan</div>
        </div>
        <div class="favorite" [ngClass]="{ 'on': favoriteMealsMap[meal.id], 'off': !favoriteMealsMap[meal.id] }" (click)="toggleFavorite(meal, !favoriteMealsMap[meal.id]); $event.stopPropagation();"></div>
        <div class="content">
          <div class="name">
            <h4>{{ meal.name }}</h4>
          </div>
          <div class="h-divider"></div>
          <div class="details">
            <div text-center *ngIf="meal.prepTime">
              <p>Prep. time</p>
              <h4>{{ meal.prepTime | minuteTimeFormat }}</h4>
            </div>
            <div class="v-divider" *ngIf="meal.prepTime || meal.cookTime"></div>
            <div text-center *ngIf="meal.cookTime">
              <p>Cook time</p>
              <h4>{{ meal.cookTime | minuteTimeFormat }}</h4>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>

</ion-content>
