<div class="top-doodad"></div>

<ion-header>
  <ion-navbar></ion-navbar>
</ion-header>

<ion-content class="with-top-doodad with-header" padding>
  <h1 text-center>Change Password</h1>

  <div class="form-wrapper">
    <form #passwordForm="ngForm" novalidate>
      <ion-item>
        <ion-input [(ngModel)]="passwordData.currentPassword" name="currentPassword" #currentPassword="ngModel" type="password" placeholder="Current Password" minlength="6" required></ion-input>
      </ion-item>
      <div class="error" *ngIf="passwordForm.submitted && currentPassword.invalid">
        <div *ngIf="currentPassword.errors.required">This cannot be empty.</div>
        <div *ngIf="currentPassword.errors.minlength">Password needs at least 6 characters.</div>
      </div>
      <ion-item>
        <ion-input [(ngModel)]="passwordData.newPassword" name="newPassword" #newPassword="ngModel" type="password" placeholder="New Password" minlength="6" required></ion-input>
      </ion-item>
      <div class="error" *ngIf="passwordForm.submitted && newPassword.invalid">
        <div *ngIf="newPassword.errors.required">This cannot be empty.</div>
        <div *ngIf="newPassword.errors.minlength">Password needs at least 6 characters.</div>
      </div>
      <ion-item>
        <ion-input [(ngModel)]="passwordData.newPasswordRepeat" name="newPasswordRepeat" #newPasswordRepeat="ngModel" type="password" placeholder="Repeat New Password" minlength="6" [equalTo]="newPassword" required></ion-input>
      </ion-item>
      <div class="error" *ngIf="passwordForm.submitted && newPasswordRepeat.invalid">
        <div *ngIf="newPasswordRepeat.errors.required">This cannot be empty.</div>
        <div *ngIf="newPasswordRepeat.errors.minlength">Password needs at least 6 characters.</div>
        <div *ngIf="newPasswordRepeat.errors.equalTo">Passwords do not match.</div>
      </div>
      <div class="change-button-wrapper">
        <button ion-button block type="button" (click)="change()">Change</button>
      </div>
    </form>
  </div>

</ion-content>
