account {

  ion-list#detail-list {
    margin-top: 30px !important;

    .item-label {
      font-weight: bold;
      font-size: 20px;
      color: color($colors, secondary-dark) !important;
    }

    .item-value {
    }
  }

  ion-list#action-list {
    margin-top: 30px !important;

    .item {
      padding-left: 0px !important;

      p {
        color: color($colors, primary) !important;
        font-size: 2rem !important;
      }
      ion-icon {
        color: color($colors, primary) !important;
      }
    }
  }

}
