<div class="top-doodad"></div>

<ion-content class="with-top-doodad" padding>
  <h1 text-center>More</h1>

  <ion-list inset>
    <button ion-item (click)="showAccount()">
      <p>Account</p>
      <ion-icon name="ios-arrow-forward" item-end></ion-icon>
    </button>
    <button ion-item (click)="showAbout()">
      <p>About Mindful Menu</p>
      <ion-icon name="ios-arrow-forward" item-end></ion-icon>
    </button>
    <button ion-item (click)="showContact()">
      <p>Contact</p>
      <ion-icon name="ios-arrow-forward" item-end></ion-icon>
    </button>
    <button ion-item (click)="logout()">
      <p class="logout">Logout</p>
    </button>
  </ion-list>

  <p id="version" text-center>
    <span>{{ applicationVersion }}</span>
    <br />
    [<span *ngFor="let platform of platforms; let last = last;">{{ platform }}<ng-container *ngIf="!last">,&nbsp;</ng-container></span>]
  </p>

</ion-content>
