<div>
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <h5 class="card-header">Instructions</h5>
        <div class="card-body">
          <h4>Overview</h4>
          <p>This Admin Dashboard will help the Mindful Menu team build and manage menus and users. Below are instructions for
            how to add meals for upcoming weeks.</p>
          <br>

          <h4>Managing Users (Beta Testers)</h4>
          <p>While doing beta testing of the app, the process to enable a user's account is manual, by the Mindful Menu team.
            A team member will need to verify each user through this dashboard. The process is as follows:</p>
          <ol>
            <li>User will go to the App Store and install the app.</li>
            <li>They'll open the app, click "Sign Up", enter their info, and create an account.</li>
            <li>On the next page, if they already have an active subscription, they can click "I'll do it later". If not, they
              can use the links to enter payment info, and subscribe.</li>
            <li>The user then will see a screen telling them their account is pending, and a team member will send them an email
              within 2 days when account is active.</li>
            <li><strong>As an admin, you'll login to this dashboard every 1-2 days</strong>, and look over the users whose account is "disabled".</li>
            <li>For each, check that they have an active subscription (Moon Clerk) and that they have verified their email address,
              and if yes to both, then click "Edit" for that user and check the box for "Enabled".</li>
            <li>The next time that user opens their app, they should see the regular screens, and can start using it.</li>
          </ol>

          <h4>Adding a new week's menu</h4>
          <p>To add a new week with 7 meals, you first need to create the meals, and then will create the new menu that references
            those meals.</p>
          <p>To create new meals, click on "Meals" in the navigation bar above, and click "Add Meal" button in the upper right.
            Do this for all the new meals.</p>
          <p>After the meals are created, click on "Weekly Menus" in the navigation bar above, and click "Add Weekly Menu" button
            in upper right. Enter the dates for the new menu, and then lookup each new meal you created, by name. When you
            start typing in the "Meals" section, a list of matching meal names will show, and you can select the one you
            want.
          </p>
          <p>Once all the meals are add, and the new menu has been created, you are done, and that menu is ready to be published
            for users to see.</p>
          <p>NOTE: If you are adding your own image of a meal, we're hosting those files under the Google Drive of the ourmindfulmenu@gmail.com account. <a target="_blank" href="https://www.youtube.com/watch?v=Y1joksnUW04">Watch this video to learn how to get link to image.</a>  That base URL before the ID is: https://drive.google.com/uc?id=</p>

        </div>
      </div>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <h5 class="card-header">Expectations</h5>
        <div class="card-body">
          <h4>Publication of new menus</h4>
          <p>All weekly menus need to be completed BEFORE 4pm Thursday, of the week prior. The users will start seeing the next
            week's menu at 4pm on Thursday, so it needs to be finalized by the MM Team prior to that. There is no limitation
            on how early a weekly menu can be created in the system (i.e. you can create menus months in advance, and they
            just won't show up until the scheduled week.).</p>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>