<div>
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <h5 class="card-header">Instructions</h5>
        <div class="card-body">
          <h4>Overview</h4>
          <p>This Admin Dashboard will help the Mindful Menu team build and manage menus and users. Below are instructions for
            how to add meals for upcoming weeks.</p>
          <br>

          <h4>Adding a new week's menu</h4>
          <p>To add a new week with 7 meals, you first need to create the meals, and then will create the new menu that references
            those meals.</p>
          <p>To create new meals, click on "Meals" in the navigation bar above, and click "Add Meal" button in the upper right.
            Do this for all the new meals.</p>
          <p>After the meals are created, click on "Weekly Menus" in the navigation bar above, and click "Add Weekly Menu" button
            in upper right. Enter the dates for the new menu, and then lookup each new meal you created, by name. When you
            start typing in the "Meals" section, a list of matching meal names will show, and you can select the one you
            want.
          </p>
          <p>Once all the meals are add, and the new menu has been created, you are done, and that menu is ready to be published
            for users to see.</p>

        </div>
      </div>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <h5 class="card-header">Expectations</h5>
        <div class="card-body">
          <h4>Publication of new menus</h4>
          <p>All weekly menus need to be completed BEFORE 4pm Thursday, of the week prior. The users will start seeing the next
            week's menu at 4pm on Thursday, so it needs to be finalized by the MM Team prior to that. There is no limitation
            on how early a weekly menu can be created in the system (i.e. you can create menus months in advance, and they
            just won't show up until the scheduled week.).</p>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>