shopping-list {

  .h-divider {
    background-color: color($colors, primary) !important;
    height: 1px;
    opacity: 0.5;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    &.big {
      height: 2px;
      margin-top: 40px;
      margin-bottom: 40px;
    }
  }

  .slCategory {
    margin-bottom: 60px;

    h4 {
      font-family: 'Trocchi' !important;
      margin-bottom: 20px;
    }

    .slItem {

      .item {
        padding-left: 0px !important;

        &.clickable {
          cursor: pointer;
        }

        .add {
          margin-left: 4px;
          margin-right: 20px;

          .addIcon {
            width: 24px;
            height: 24px;
            cursor: pointer;
            background-image: url(../asset/ic_circle_plus@3x.png);
            background-size: 24px auto;
            background-repeat: no-repeat;
          }
        }

        .remove {
          z-index: 1000;

          .removeIcon {
            width: 24px;
            height: 24px;
            cursor: pointer;
            background-image: url(../asset/ic_circle_x@3x.png);
            background-size: 24px auto;
            background-repeat: no-repeat;
          }

        }

        .amounts {
          z-index: 1000;

          .expandIcon {
            background-image: url('../asset/ic_circle_arrow_down@2x.png');
            background-size: 24px auto;
            background-repeat: no-repeat;
            width: 24px;
            height: 24px;
            cursor: pointer;
          }

          .collapseIcon {
            background-image: url('../asset/ic_circle_arrow_up@2x.png');
            background-size: 24px auto;
            background-repeat: no-repeat;
            width: 24px;
            height: 24px;
            cursor: pointer;
          }
        }

        .item-inner {
          border: 0px none !important;
        }

        .checkbox {
          margin-right: 20px !important;
        }

        &.item-checkbox-checked {
          ion-label {
            text-decoration: line-through;

            .itemName {
              color: color($colors, gray) !important;
            }
          }

          .itemAmount {
            color: color($colors, gray) !important;
            text-decoration: line-through;
          }
        }

        ion-label {
          white-space: normal !important;
          text-overflow: unset !important;

          .itemName {
          }
        }

        .itemAmount {
          color: color($colors, dark) !important;
          margin-right: 11px !important;
        }
      }

      .amountsExpanded {
        &.checked {
          .itemAmount {
            color: color($colors, gray) !important;
            text-decoration: line-through;
          }
        }

        .itemAmount {
          font-size: 16px;
          color: color($colors, dark) !important;
          margin-right: 18px !important;
          text-align: right;
        }
      }
    }
  }

}
