<div class="top-doodad"></div>

<ion-content class="with-top-doodad" padding>

  <div id="purgatory">

    <h1>Account Pending</h1>
    <p>You're almost done...</p>
    <p>Check your email for a verification link and further instructions. Then our team will contact you within 2 days letting you know when your account is active.</p>

    <div class="purgatory-button-wrapper-1">
      <div class="button-wrapper">
        <button ion-button block outline type="button" (click)="tryAgain()">Re-check my account status</button>
      </div>
      <div class="button-wrapper">
        <button ion-button block color="danger" type="button" (click)="logout()" margin-top>Logout</button>
      </div>
    </div>

<!--
    <p>If you haven't setup your payment, you can subscribe with an option below.</p>

    <div class="purgatory-button-wrapper-2">
      <div class="button-wrapper">
        <button ion-button block type="button" (click)="showSetupMonthlySubscription()">Setup Monthly Subscription</button>
      </div>
      <div class="button-wrapper">
        <button ion-button block type="button" (click)="showSetupSixMonthSubscription()">Setup 6 Months Subscription</button>
      </div>
    </div>
-->

  </div>

</ion-content>
