<div class="top-doodad"></div>

<ion-content class="with-top-doodad" padding>

  <div id="purgatory">

    <h1>Account disabled</h1>
    <p>Your account isn't enabled yet. You must have your email address confirmed and the subscription set up.</p>

    <div class="purgatory-button-wrapper-1">
      <div class="button-wrapper">
        <button ion-button block outline type="button" (click)="tryAgain()">Try again?</button>
      </div>
      <div class="button-wrapper">
        <button ion-button block color="danger" type="button" (click)="logout()" margin-top>Logout</button>
      </div>
    </div>

    <p>You should have received your confirmation email by now - check your email and follow the instructions.</p>
    <p>You can setup your subscription using options below.</p>

    <div class="purgatory-button-wrapper-2">
      <div class="button-wrapper">
        <button ion-button block type="button" (click)="showSetupMonthlySubscription()">Setup Monthly Subscription</button>
      </div>
      <div class="button-wrapper">
        <button ion-button block type="button" (click)="showSetupSixMonthSubscription()">Setup 6 Months Subscription</button>
      </div>
    </div>

  </div>

</ion-content>
