<div>
  <div class="row">
    <div class="col-sm-8">
      <h3>Meals:</h3>
    </div>
    <div class="col-sm-4 text-right">
      <button type="button" class="btn btn-primary float-right" (click)="addMeal()">Add Meal</button>
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col-sm-12">
      <div class="list-group">
        <a *ngFor="let meal of meals" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="row">
            <div class="col-sm-3">
              <img [src]="meal.imageUrl">
            </div>
            <div class="col-sm-9">
              <div>
                <h5 class="mb-1">
                  {{ meal.name }}
                  <div class="float-right">
                    <button type="button" class="btn btn-primary btn-sm" (click)="editMeal(meal)">
                      <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button type="button" class="btn btn-danger btn-sm" (click)="deleteMeal(meal); $event.stopImmediatePropagation()">
                      <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                  </div>
                </h5>
              </div>

              <div class="mb-3">
                <small>Prep: {{ meal.prepTime }} mins. | Cook: {{ meal.cookTime }} mins. | {{ meal.ingredientIds?.length }} ingredients
                  listed | Source:
                  <a [href]="meal.sourceUrl" target="_blank">{{ meal.sourceName }}</a>
                </small>
              </div>

              <ngb-tabset type="pills">
                <ngb-tab title="Select to view ->">
                  <ng-template ngbTabContent></ng-template>
                </ngb-tab>
                <ngb-tab title="Cooking Instructions ({{ meal.cookInstructions?.length }})">
                  <ng-template ngbTabContent>
                    <div class="mt-3">
                      <ol>
                        <li *ngFor="let instruction of meal.cookInstructions">{{ instruction }}</li>
                      </ol>
                    </div>
                  </ng-template>
                </ngb-tab>
                <ngb-tab title="Prep Instructions ({{ meal.prepInstructions?.length }})">
                  <ng-template ngbTabContent class="mt-5">
                    <div class="mt-3">
                      <ol>
                        <li *ngFor="let instruction of meal.prepInstructions">{{ instruction }}</li>
                      </ol>
                    </div>
                  </ng-template>
                </ngb-tab>
                <ngb-tab title="Tip">
                  <ng-template ngbTabContent class="mt-5">
                    <div class="mt-3">
                      <p>{{ meal.tip }}</p>
                    </div>
                  </ng-template>
                </ngb-tab>
              </ngb-tabset>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>