<div class="top-doodad"></div>

<ion-content class="with-top-doodad" padding>
  <h1 text-center>Menus</h1>

  <div class="currentWeeklyMenu" *ngIf="currentWeeklyMenu" (click)="showWeeklyMenu(currentWeeklyMenu)">
    <div class="background" [style.background-image]="('url(' + currentWeeklyMenu.imageUrl + ')') | sanitizeStyle"></div>
    <div class="content">
      <h5>Weekly Menu</h5>
      <h3>{{ currentWeeklyMenu.startDate | date:'dd MMM' }} - {{ currentWeeklyMenu.endDate | date:'dd MMM' }}</h3>
      <div class="bubble">NEW</div>
    </div>
  </div>

  <div class="currentWeeklyMenu" *ngIf="!currentWeeklyMenu && currentWeeklyMenuLoaded">
    <div class="content">
      <h5>No menu for this week yet</h5>
    </div>
  </div>

  <div class="previousWeeklyMenus">
    <h3>Previous weeks</h3>
    <ng-container *ngIf="previousWeeklyMenus && (previousWeeklyMenus.length > 0)">
      <ion-scroll scrollX="true">
        <div class="weeklyMenu scroll-item" *ngFor="let previousWeeklyMenu of previousWeeklyMenus" (click)="showWeeklyMenu(previousWeeklyMenu)">
          <div class="background" [style.background-image]="('url(' + previousWeeklyMenu.imageUrl + ')') | sanitizeStyle"></div>
          <div class="content">
            <h6>Weekly Menu</h6>
            <h5>{{ previousWeeklyMenu.startDate | date:'dd MMM' }} - {{ previousWeeklyMenu.endDate | date:'dd MMM' }}</h5>
          </div>
        </div>
      </ion-scroll>
    </ng-container>
    <ng-container *ngIf="(!previousWeeklyMenus || (previousWeeklyMenus.length == 0)) && previousWeeklyMenusLoaded">
      <p text-center>No previous weekly menus available.</p>
    </ng-container>
  </div>

  <div class="upcomingWeeklyMenus" *ngIf="currentUser.isAdmin">
    <h3>Upcoming weeks (admin only)</h3>
    <ng-container *ngIf="upcomingWeeklyMenus && (upcomingWeeklyMenus.length > 0)">
      <ion-scroll scrollX="true">
        <div class="weeklyMenu scroll-item" *ngFor="let upcomingWeeklyMenu of upcomingWeeklyMenus"  (click)="showWeeklyMenu(upcomingWeeklyMenu)">
          <div class="background" [style.background-image]="('url(' + upcomingWeeklyMenu.imageUrl + ')') | sanitizeStyle"></div>
          <div class="content">
            <h6>Weekly Menu</h6>
            <h5>{{ upcomingWeeklyMenu.startDate | date:'dd MMM' }} - {{ upcomingWeeklyMenu.endDate | date:'dd MMM' }}</h5>
          </div>
        </div>
      </ion-scroll>
    </ng-container>
    <ng-container *ngIf="(!upcomingWeeklyMenus || (upcomingWeeklyMenus.length == 0)) && upcomingWeeklyMenusLoaded">
      <p text-center>No upcoming weekly menus available.</p>
    </ng-container>
  </div>

  <div class="favorite">
    <button ion-button block type="button" (click)="showFavoriteList()">
      <span class="favorite-list-icon"></span>
      <span>Favorite Recipes</span>
    </button>
  </div>

</ion-content>
