<div class="container-fluid p-5">
  <div class="row">
    <div class="col-sm-6">
        <h3>Weekly Menus:</h3>
        <div class="list-group">
            <a href="#" *ngFor="let menu of menus" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">Week of: {{ menu.startDate | date }}</h5>
                  <small>Week #: {{ menu.weekNumber }}</small>
                </div>
                <small>Published: {{ menu.publishDate | date }} | Week Start: {{ menu.startDate | date }} | Week End: {{ menu.endDate | date }} </small>
              </a>
        </div> 
    </div>
    <div class="col-sm-6">

    </div>

  </div>

  <hr>

  <div class="row">
    <div class="col-sm-6">
      <h3>All Meals:</h3>
      <div class="list-group">
          <a href="#" *ngFor="let meal of meals" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ meal.name }}</h5>
                <small>{{ meal.number }}</small>
              </div>
              <p class="mb-1">{{ meal.description }}</p>
              <small>Prep: {{ meal.prepTime }} mins. | Cook: {{ meal.cookTime }} mins.</small>
            </a>
      </div> 
        
    </div>
    <div class="col-sm-6">
      <div class="card">
        <h5 class="card-header">
          Add a Meal
        </h5>
        <div class="card-body">
            <form>
                <div class="form-group">
                  <label>Meal Name</label>
                  <input type="text" class="form-control" name="name" aria-describedby="nameHelp" placeholder="Ex: Crispy Fried Chicken" [(ngModel)]="newMeal.name">
                  <small id="nameHelp" class="form-text text-muted">This will display in the app, over the image.</small>
                </div>
                <div class="form-row">
                    <div class="form-group col-sm-6">
                      <label>Prep Time</label>
                      <input type="text" class="form-control" name="prepTime" aria-describedby="prepTimeHelp" placeholder="In minutes..." [(ngModel)]="newMeal.prepTime">
                    </div>
                    <div class="form-group col-sm-6">
                        <label>Cook Time</label>
                        <input type="text" class="form-control" name="cookTime" aria-describedby="cookTimeHelp" placeholder="In minutes..." [(ngModel)]="newMeal.cookTime">
                      </div>  
                </div>
                <button type="submit" class="btn btn-primary" (click)="addMeal()">Add Meal</button>
              </form>
        </div>
      </div>
    </div>
  </div>
</div>