<div class="top-doodad"></div>

<ion-header>
  <ion-navbar></ion-navbar>
</ion-header>

<ion-content class="with-top-doodad with-header" padding>
  <h3 text-center>Weekly Menu</h3>

  <ng-container *ngIf="weeklyMenu && inCurrentPlanMealsMap && favoriteMealsMap">
    <h1 text-center>{{ weeklyMenu.startDate | date:'MMM d' }} - {{ weeklyMenu.endDate | date:'MMM d' }}</h1>

    <ng-container *ngIf="!weeklyMenu.meals || (weeklyMenu.meals && (weeklyMenu.meals.length == 0))">
      <p text-center>This menu doesn't have any meals.</p>
    </ng-container>

    <ng-container *ngIf="weeklyMenu.meals && (weeklyMenu.meals.length > 0)">
      <div class="meal" *ngFor="let meal of weeklyMenu.meals" (click)="showMeal(meal)">
        <div class="background" [style.background-image]="('url(' + meal.imageUrl + ')') | sanitizeStyle"></div>
        <div class="plan green" *ngIf="!inCurrentPlanMealsMap[meal.id]" (click)="addMealToCurrentWeeklyPlan(meal); $event.stopPropagation();">
          <div class="add"></div>
          <div>Add to My Plan</div>
        </div>
        <div class="plan no-icon" *ngIf="inCurrentPlanMealsMap[meal.id]" (click)="$event.stopPropagation();">
          <div>In My Plan</div>
        </div>
        <div class="favorite" [ngClass]="{ 'on': favoriteMealsMap[meal.id], 'off': !favoriteMealsMap[meal.id] }" (click)="toggleFavorite(meal, !favoriteMealsMap[meal.id]); $event.stopPropagation();"></div>
        <div class="content">
          <div class="name">
            <h4>{{ meal.name }}</h4>
          </div>
          <div class="h-divider"></div>
          <div class="details">
            <div text-center *ngIf="meal.prepTime">
              <p>Prep. time</p>
              <h4>{{ meal.prepTime | minuteTimeFormat }}</h4>
            </div>
            <div class="v-divider" *ngIf="meal.prepTime || meal.cookTime"></div>
            <div text-center *ngIf="meal.cookTime">
              <p>Cook time</p>
              <h4>{{ meal.cookTime | minuteTimeFormat }}</h4>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
</ion-content>
