<div class="top-doodad"></div>

<ion-header>
  <ion-navbar></ion-navbar>
</ion-header>

<ion-content class="with-top-doodad with-header" padding>
  <ng-container *ngIf="weeklyMenu">
    <h3 text-center>Weekly Menu</h3>
    <h1 text-center>{{ weeklyMenu.startDate | date:'dd MMMM' }} - {{ weeklyMenu.endDate | date:'dd MMMM' }}</h1>

    <div class="meal" *ngFor="let meal of weeklyMenu.meals" (click)="showMeal(meal)">
      <div class="background" [style.background-image]="('url(' + meal.imageUrl + ')') | sanitizeStyle"></div>
      <div class="plan" (click)="addToPlan(meal); $event.stopPropagation();">
        <div class="add"></div>
        <div>Add to My Plan</div>
      </div>
      <div class="favorite" [ngClass]="{ 'on': favoriteMealsMap[meal.id], 'off': !favoriteMealsMap[meal.id] }" (click)="toggleFavorite(meal, !favoriteMealsMap[meal.id]); $event.stopPropagation();"></div>
      <div class="content">
        <div class="name">
          <h4>{{ meal.name }}</h4>
        </div>
        <div class="h-divider"></div>
        <div class="details">
          <ion-grid>
            <ion-row>
              <ion-col push-1 col-4>
                <p>Prep. time</p>
                <h4>{{ meal.prepTime }} min</h4>
              </ion-col>
              <ion-col push-1 col-2>
                <div class="v-divider"></div>
              </ion-col>
              <ion-col push-1 col-4>
                <p>Cook time</p>
                <h4>{{ meal.cookTime }} min</h4>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
    </div>
  </ng-container>
</ion-content>
