auth-login {

  #login {
    display: flex;
    height: 80vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 20px;
  }

  .header {
    margin-bottom: 20px;
  }

  .item {
    padding-left: 0px !important;
  }

  .login-button-wrapper {
    margin-top: 40px;
  }

  .signup-button-wrapper {
    margin-top: 20px;
    text-align: center;
  }
}
