<div class="top-doodad"></div>

<ion-content class="with-top-doodad" padding>

  <div id="login">

    <div id="logo">
      <img src="./asset/logo_mindful_menu@3x.png">
    </div>

    <ion-grid>
      <ion-row class="row">
        <ion-col align-self-center class="col">
          <div id="main-content">
            <h1 class="header" text-center>Log In</h1>
            <form #loginForm="ngForm" novalidate>
              <ion-item>
                <ion-input [(ngModel)]="loginData.username" name="username" #username="ngModel" type="email" placeholder="email" required ngvemail></ion-input>
              </ion-item>
              <div class="error" *ngIf="loginForm.submitted && username.invalid">
                <div *ngIf="username.errors.required">This cannot be empty.</div>
                <div *ngIf="username.errors.email">This doesn't look like a valid email address.</div>
              </div>
              <ion-item>
                <ion-input [(ngModel)]="loginData.password" name="password" #password="ngModel" type="password" placeholder="password" required></ion-input>
              </ion-item>
              <div class="error" *ngIf="loginForm.submitted && password.invalid">
                <div *ngIf="password.errors.required">This cannot be empty.</div>
              </div>
              <div class="login-button-wrapper">
                <button ion-button block type="button" (click)="login()">Log In</button>
              </div>
            </form>
            <div class="forgot-password-button-wrapper">
              <button ion-button clear type="button" (click)="forgotPassword()">Forgot password</button>
            </div>
            <div class="signup-button-wrapper">
              <button ion-button clear type="button" (click)="signUp()">Sign Up</button>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>

</ion-content>
