<div class="top-doodad"></div>

<ion-header>
  <ion-navbar></ion-navbar>
</ion-header>

<ion-content class="with-top-doodad with-header" padding>
  <h1 text-center>Favorite Recipes</h1>

  <ng-container *ngIf="favoriteMeals && inCurrentPlanMealsMap">
    <ng-container *ngIf="!favoriteMeals || (favoriteMeals && (favoriteMeals.length == 0))">
      <p text-center>No favorite recipes yet.</p>
    </ng-container>

    <ng-container *ngIf="favoriteMeals && (favoriteMeals.length > 0)">
      <div class="meal" *ngFor="let meal of favoriteMeals" (click)="showMeal(meal)">
        <div class="background" [style.background-image]="('url(' + meal.imageUrl + ')') | sanitizeStyle"></div>
        <div class="plan green" *ngIf="!inCurrentPlanMealsMap[meal.id]" (click)="addMealToCurrentWeeklyPlan(meal); $event.stopPropagation();">
          <div class="add"></div>
          <div>Add to My Plan</div>
        </div>
        <div class="plan no-icon" *ngIf="inCurrentPlanMealsMap[meal.id]" (click)="$event.stopPropagation();">
          <div>In My Plan</div>
        </div>
        <div class="favorite on" (click)="toggleFavorite(meal, false); $event.stopPropagation();"></div>
        <div class="content">
          <div class="name">
            <h4>{{ meal.name }}</h4>
          </div>
          <div class="h-divider"></div>
          <div class="details">
            <div text-center *ngIf="meal.prepTime">
              <p>Prep. time</p>
              <h4>{{ meal.prepTime | minuteTimeFormat }}</h4>
            </div>
            <div class="v-divider" *ngIf="meal.prepTime || meal.cookTime"></div>
            <div text-center *ngIf="meal.cookTime">
              <p>Cook time</p>
              <h4>{{ meal.cookTime | minuteTimeFormat }}</h4>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
</ion-content>
